@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Manrope-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Manrope-Regular'),
    url('../fonts/Manrope-Regular.woff2') format('woff2'),
    url('../fonts/Manrope-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Manrope-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('Manrope-Medium'),
    url('../fonts/Manrope-Medium.woff2') format('woff2'),
    url('../fonts/Manrope-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Manrope-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: local('Manrope-SemiBold'),
    url('../fonts/Manrope-SemiBold.woff2') format('woff2'),
    url('../fonts/Manrope-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Manrope-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('Manrope-Bold'),
    url('../fonts/Manrope-Bold.woff2') format('woff2'),
    url('../fonts/Manrope-Bold.woff') format('woff');
  font-display: swap;
}

:root {
  --accent: #157EAA;
  --default: #202020;
  --brand: #EF7F1A;
  --milk: #FFFAFA;
  --gray: #686868;
  --divider: #E5E2EE;
  --neutrallight: #C4C5D9;
  --jadelight: #F2FBFF;
  --jadegravel: #30ACDC;
  --neutral: #7A7687;
  --alpha: #FFFAFAB2;
  --pastel: #D5D1E1;
}

body {
  font-family: 'Manrope-Medium';
  font-size: 18px;
  color: var(--default);
  background-color: var(--milk);
  overflow-x: hidden;
}

img {
  object-fit: cover;
}

/* header */

.menu__list-item {
  position: relative;
}

.menu__submenu {
  position: absolute;
  width: 306px;
  top: 30px;
  left: -15px;
  padding: 20px;
  z-index: 50;
  display: grid;
  gap: 10px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0px 8px 12px 0px rgba(18, 19, 22, 0.15), 0px 0px 1px 0px rgba(18, 19, 22, 0.31);
  transform-origin: 0 0;
  transform: rotateX(90deg);
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
}

.menu__list-item:hover>.menu__submenu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}

.menu__submenu li:hover {
  font-weight: 700;
}

.humb {
  display: none;
}

.hamb__field {
  display: grid;
  gap: 8px;
  cursor: pointer;
}

.hamb__field .bar {
  height: 4px;
  width: 40px;
  background-color: var(--brand);
  border-radius: 2px;
  transition: all .5s;
}


.bar:nth-child(1) {
  width: 80px;
}

.bar:nth-child(2) {
  width: 60px;
}

.hamb__field.active .bar {
  width: 40px;
}

.hamb__field.active .bar:nth-child(1) {
  width: 40px;
  transform: translateY(12px) rotate(45deg);
}

.hamb__field.active .bar:nth-child(2) {
  opacity: 0;
}

.hamb__field.active .bar:nth-child(3) {
  width: 40px;
  transform: translateY(-12px) rotate(-45deg);
}



.popup {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 187px;
  z-index: 50;
  overflow: hidden;
  overflow-y: scroll;
  background-color: var(--milk);
  display: none;
}

.popup.top-scroll{
  top: 63px;
}

.popup.active {
  display: block;
}

.popup-menu__list {
  padding: 30px 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
}

.popup-menu__list-item>a {
  padding: 15px 20px;
  display: block;
}

.popup-menu__list-item:hover>a {
  opacity: .6;
}

.popup-menu__submenu {
  font-size: 14px;
  padding-left: 25px;
}


.popup-menu__submenu>li {
  padding: 15px 20px;
  font-weight: 400;
}

.noscroll {
  overflow: hidden;
}

.subheader.active {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  background-color: var(--milk);
}

@media (max-width: 960px) {
  .humb {
    display: block;
  }

  .menu__list {
    display: none;
  }
}

@media (max-width: 960px) {
  .eye {
    position: absolute;
    top: 30%;
    font-size: 0;
    background-color: var(--neutrallight);
    padding: 5px 5px 5px 10px;
    right: 0;
    transition: all .5s;
    z-index: 5;
    gap: 0;
  }

  .eye span {
    padding-left: 5px;
  }

  .eye:hover {
    right: 0;
    padding: 5px 20px;
    border-radius: 15px 0 0 15px;
    font-size: 18px;
    display: flex;
    gap: 12px;
  }

  .eye:hover span {
    padding: 0;
  }
}

@media (max-width: 468px) {
  .search-form {
    position: relative;
    margin-right: 0;
    margin-left: auto;
    width: 40px;
    height: 40px;
    transition: all .5s;
  }

  .search-form > div {
    position: absolute;
    height: 40px;
    right: 0;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .search-form input {
    width: 0;
    /* height: 0; */
    padding: 0;
    transition: all .5s;
    /* position: absolute;
    right: 40px;
    width: 150px; */
  }

  .search-form .eye-img {
    height: 20px;
    width: 20px;
  }

  .search-form:hover > div {
    padding: 0 10px 0 0;
    gap: 10px;
  }

  .search-form:hover input {
    width: 160px;
    padding: 10px 20px;
    /* height: auto; */
  }
}


/* swiper */

.banner .swiper-pagination {
  bottom: 0;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.banner .swiper-pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  transition: all .3s;
  margin: 0;
  background-color: var(--neutral);
}

.banner .swiper-pagination .swiper-pagination-bullet:hover{
  border: 1px solid var(--jadegravel);
}

.banner .swiper-pagination .swiper-pagination-bullet-active {
  width: 38px;
  margin-right: 5px;
  background-color: var(--gray);
}

.slider .swiper-button-prev,
.slider .swiper-button-next {
  background-image: url('../img/icons/arrow.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: var(--alpha);
  bottom: 35px;
  right: 60px;
  left: auto;
  top: auto;
  height: 41px;
  width: 41px;
  border-radius: 50%;
  border: 1px solid var(--pastel);
}

.slider .swiper-button-prev:hover,
.slider .swiper-button-next:hover{
  border: 1px solid var(--jadegravel);
}

.slider .swiper-button-prev:focus,
.slider .swiper-button-next:focus{
  border: 2px solid var(--jadegravel);
}

.slider .swiper-button-next{
  transform: rotate(180deg);
}

.banner .swiper-button-prev {
  right: 111px;
}

.slider .swiper-button-prev::after,
.slider .swiper-button-next::after {
  content: '';
  font-size: 0;
  line-height: 0;
}

.new-block .swiper-button-prev,
.new-block .swiper-button-next,
.specialists .swiper-button-prev,
.specialists .swiper-button-next {
  bottom: 0;
  right: auto;
  left: 0;
}

.new-block .swiper-button-next,
.specialists .swiper-button-next {
  left: 51px;
}

/* map */

.map-marker {
  width: 45px;
  height: 45px;
  background-color: var(--accent);
  background-image: url('../img/icons/logo-map.webp');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
}


